.venv/
venv/

.pytest_cache/
pytest_cache/

chroma_db/

chatui/__pycache__/
config/__pycache__/
embedding_service/__pycache__/
embedding_service/tests/__pycache__/
ingestion/__pycache__/
ingestion/tests/__pycache__/
query_service/__pycache__/
query_service/graph/__pycache__/
query_service/tests/__pycache__/